@mixin parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  @mixin center-image {
      display: grid;
      margin-left: auto;
      margin-right: auto;
  }
  
  @mixin medium{
      @media(max-width: 1200px){
          @content;
      }
  }
  
  @mixin small{
      @media(max-width: 800px){
          @content;
      }
  }

  @mixin extra-small{
    @media(max-width: 600px){
        @content;
    }
}

    @mixin x-extra-small{
        @media(max-width: 450px){
            @content;
        }
    }


    
    #footer {
        background-color:rgb(12, 12, 12);
        bottom: 0px;
        padding: 2px;
        margin: 0px;
        margin-top: 0px;
        margin-bottom:0px;
        width: 100%;
        
        min-width:400px;
        
    
        p{
            text-align: center;
            text-justify: center;
            color: rgba(218, 218, 218, 1);
            font-size: 15px;
        
            @include small {
                font-size: 12px;
            }
        }
    }