$primary-color: #0000FF;
$text-color: black;
$bg-color: rgb(226, 226, 226);
$active-color: yellow;


$transition-time: 500ms;

$font-paragraph: Corbel;

$font-weight-standard: 400;
$letter-space-standard: 10px;