@import './resets';
@import './variables';
@import './mixins';
@import './sidebar-nav';


@import url(//db.onlinewebfonts.com/c/b46dfdc01f7e44ca7a5fa53ee588dfd3?family=Angella+Narrow);


body {
    background: $bg-color;
}

#header {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 80px;
    width: 100%;
    position: fixed;

    @include small {
        padding: 15px;  
    }

    img {
        /*border-style: solid;*/
        height: 60px;
        position: absolute;
        margin: 0 0 0 2%;
        
        @include small {
            height: 50px;  
        }
         
    }

    a {
        img {
            /*border-style: solid;*/
            height: 50px;
            right: 5%;
            margin-top: 5px;
            opacity: 60%;
            cursor: pointer;

            @include small {
                visibility: hidden;
            }
        }
       
    }
    
    #nav{
        /*border-style: solid;*/
        margin: 40px auto 0 auto;
        width: 400px;
        text-align: center;

        a {
            font-family: Angella Narrow;
            font-size: 21px;
            letter-spacing: 3px;
            text-decoration: none;
            color: white;
            margin: 14px;
            transition: $transition-time;



            &:hover{
                color: $active-color;
                transition: $transition-time;
            }

            @include small {
                visibility: hidden;
            }

            b{
                color: $active-color;
            }

        }

       
    }
    
}






/* ================== SIDEBAR NAVIGATOR =========================*/


/*================================*/




#intro{
    @include parallax();
    background-image: url('/Images/Layouts/dotted-colors-background.png');
    /*background-size: 100%;*/
    height: 1100px;
    width: 100%;
    min-width: 400px;
    min-height: 500px; 

    img{
        @include center-image();
        /*border-style: solid;*/
        height: 500px;
        padding-top: 150px;  

            @include small {
                height: 400px;
            }
    }

    p{
        
        text-align: center;
        /*border-style: solid;*/
        width: 60%;
        margin: 10px auto;
        font-family: $font-paragraph;
        line-height: 40px;
        font-size: 20px;
        
        b {
            line-height: 50px;
            letter-spacing: 5px;
            font-family: Angella Narrow;
            font-size:40px;
        }

        @include small {
            width: 350px;
            margin: 50px auto;
            line-height: 25px;
            font-size: 16px;
        }

        
    }
}





#standard-format{
   
    background-image: url('/Images/Layouts/manga-background.png');
    background-size: 100%;
    height: 1080px;
    width: 100%;
    padding-top: 180px;

    min-width: 400px;
    min-height: 500px; 

    @include small {
        height: 1500px;
    }
    

    h1 {
        text-align: center;
        /*border-style: solid;*/
        width: 400px;
        margin: 10px auto;
        font-family: $font-paragraph;
        font-weight: $font-weight-standard;
        color: $primary-color;
        line-height: 25px;

        letter-spacing: $letter-space-standard;

        @include small {
           font-size: 30px;
        }
    }


    .grid-container{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
        margin: 100px auto 100px auto;
    
        grid-gap: 0px;
    
        /*border-style: solid;*/
    
        @include medium{
            width: 80%;
        }
    
        @include small{
            width: 175px;
            grid-template-columns:0;
            grid-template-rows: repeat(3, 1fr);
            padding: 0px;

            grid-gap: 30px;
           
        }
    
        .grid{
            display: grid;
           /* grid-gap: 10px;
            /*grid-template-rows: repeat(2, 1fr);*/
            /*border-style: solid; */
            width: 220px;
            margin: 0 auto;
            padding: 5px;
            
            @include small{
                width: 147px;
            }
    
            @include x-extra-small{
                margin: 0px;
            }
    
            
    
            .grid-item{
               /*border-style: solid;*/
                /*margin: 0 auto;*/
                width: 217px;
                margin: 0px;
                margin-bottom: 50px;
                margin: 0 auto;
    
                @include medium{
                    width: 197px;
                }
    
                @include small{
                    width: 157px;
                }
                
    
                .price{
                    display: inline-block;
                    /*width: 107px;
                    height: 107px;*/
                    line-height: 27px;
                    text-align: center;
    
                    background: red;
                    border-radius: 100%;
                    height: 62px;
                    width: 62px;
                    float: left;
    
                    padding-left: 12px;
                    padding-right: 5px;
                    padding-top: 8px;
                
    
                    font-size: 35px;
                    font-family: Century Gothic;
                    font-weight: bold;
    
                    color: white;
    
                       @include medium{
                            width: 57px;
                            height: 57px;
                            font-size: 27px;
                        }
    
                        @include small{
                            width: 52px;
                            height: 52px;
                            font-size: 25px;
                        }
    
                        .three-digits{
                            font-size: 28px;
                            transform: scale(.9, 1.2);
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 10px;
                            /* border-style: solid; */
                            width: 40px;
                            
    
                            @include medium{
                                font-size: 23px;
                                transform: scale(1.0, 1.1);
                            }
        
                            @include small{
                                width: 30px;
                                font-size: 19px;
                                padding-top: 0px;
                                transform: scale(1.1, 1.3);
                            }
                        }
            
                       
                
    
                    span{
                        font-size: 12px;
                        line-height: 15px;
                        /*border-style: solid;*/
                        float: left;
                        font-weight: bold;
                        font-family: Century Gothic;
    
                        color: white;
    
                        @include medium{
                            
                            font-size: 9px;
                            line-height: 9px;
                        }
                
                    }
                }
    
    
    
                .price-two{
                    @extend .price;
                    float: right;
                }
    
                .menu{
                    /*background-image: url('/Images/Lemonade/Classic Lemonade.jpg');*/
                    background-size: 210px;
                    background-position:top;
                    height: 210px;
                    width: 210px;
                    border-radius: 100%;
                    
                    border-style: solid;
    
                    border-color: $active-color;
                    transition: $transition-time;
    
                    &:hover{
                        background-size: 230px;
                        transition: $transition-time;
                    }
    
                    @include medium{
                        background-size: 190px;
                       height: 190px;
                       width:190px;
    
                       &:hover{
                        background-size: 205px;
                        transition: $transition-time;
                    }
                    }
    
                    @include small{
                        background-size: 150px;
                        height: 150px;
                        width:150px;
    
                        &:hover{
                            background-size: 160px;
                            transition: $transition-time;
                        }
                    }
    
    
                }
    
                .name{
                    margin-top: 20px;
    
                    font-family: $font-paragraph;
                    font-weight: 700;
                    font-size: 18px;
    
                    text-align: center;
    
                   /*border-style: solid;*/

                   @include small{
                    font-size: 14px;
                   }
                   
                }
            }
    
            
    
        }
    
    }



    .btn-menu{
        width: 205px;
        margin: 0 auto;
        align-content: center;
        justify-content: center;
        
        /*border-style: solid;*/


        button{
            width: 200px;
            height: 50px;
            background: red;
            color: $active-color;

            border-radius: 20px;

            font-family: $font-paragraph;
            font-weight: bold;
            font-size: 20px;

            transition: $transition-time;


            &:hover{
                background: rgb(200, 0, 0);
                transition: $transition-time;

            }
            
        }
    }
    

}






