@import url(//db.onlinewebfonts.com/c/b46dfdc01f7e44ca7a5fa53ee588dfd3?family=Angella+Narrow);
@import url(//db.onlinewebfonts.com/c/b46dfdc01f7e44ca7a5fa53ee588dfd3?family=Angella+Narrow);
* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button, submit {
  border: none;
}

input {
  border-top-color: none;
  border-left-color: none;
}

#footer {
  background-color: #0c0c0c;
  bottom: 0px;
  padding: 2px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  min-width: 400px;
}

#footer p {
  text-align: center;
  text-justify: center;
  color: #dadada;
  font-size: 15px;
}

@media (max-width: 800px) {
  #footer p {
    font-size: 12px;
  }
}

#sidebar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 88%;
  background: yellow;
  text-align: center;
  -webkit-transform-origin: right;
          transform-origin: right;
  /*transform: rotateY(-90deg);*/
  -webkit-transform: translate(250vw);
          transform: translate(250vw);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: fixed;
}

#sidebar ul {
  margin: 20% 0px;
  padding: 0px;
}

#sidebar ul li {
  color: #0000FF;
  font-size: 30px;
  font-weight: 700;
  font-family: Angella Narrow;
  letter-spacing: 10px;
  width: 100%;
  height: 40px;
  /* border-bottom:1px solid #222222; */
  line-height: 40px;
  list-style-type: none;
  padding: 0px;
  margin: 10px 0px 50px 0px;
  left: 5px;
  position: relative;
}

#sidebar ul li a {
  padding: 6px;
  left: 5px;
  text-decoration: none;
  color: #0000FF;
}

#sidebar ul li a:hover {
  color: #407EEA;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

#sidebar ul li a b {
  color: #407EEA;
}

#sidebar h2 {
  color: #407EEA;
  font-size: 30px;
}

#sidebar.active {
  -webkit-transform: perspective(1200px) rotateY(0deg);
          transform: perspective(1200px) rotateY(0deg);
}

#toggle-btn {
  position: absolute;
  right: 5%;
  top: 28px;
  -webkit-transition: left 100ms linear 0ms,-webkit-transform 200ms ease 100ms;
  transition: left 100ms linear 0ms,-webkit-transform 200ms ease 100ms;
  transition: left 100ms linear 0ms,transform 200ms ease 100ms;
  transition: left 100ms linear 0ms,transform 200ms ease 100ms,-webkit-transform 200ms ease 100ms;
  position: fixed;
  visibility: hidden;
}

@media (max-width: 800px) {
  #toggle-btn {
    visibility: visible;
  }
}

#toggle-btn .active {
  /*left:210px;*/
  /*transform:rotate(360deg);*/
}

#toggle-btn span {
  position: relative;
  top: 0px;
  display: block;
  background: black;
  width: 30px;
  height: 5px;
  margin: 5px 0px;
  cursor: pointer;
  /*transition:transform 250ms ease 120ms;*/
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#toggle-btn.active span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: red;
}

#toggle-btn.active span:nth-child(2) {
  opacity: 0;
}

#toggle-btn.active span:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: red;
}

body {
  background: #e2e2e2;
}

#header {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 80px;
  width: 100%;
  position: fixed;
}

@media (max-width: 800px) {
  #header {
    padding: 15px;
  }
}

#header img {
  /*border-style: solid;*/
  height: 60px;
  position: absolute;
  margin: 0 0 0 2%;
}

@media (max-width: 800px) {
  #header img {
    height: 50px;
  }
}

#header a img {
  /*border-style: solid;*/
  height: 50px;
  right: 5%;
  margin-top: 5px;
  opacity: 60%;
  cursor: pointer;
}

@media (max-width: 800px) {
  #header a img {
    visibility: hidden;
  }
}

#header #nav {
  /*border-style: solid;*/
  margin: 40px auto 0 auto;
  width: 400px;
  text-align: center;
}

#header #nav a {
  font-family: Angella Narrow;
  font-size: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
  margin: 14px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#header #nav a:hover {
  color: yellow;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (max-width: 800px) {
  #header #nav a {
    visibility: hidden;
  }
}

#header #nav a b {
  color: yellow;
}

#standard-format {
  background-image: url("/Images/Layouts/manga-background.png");
  background-size: 100%;
  height: 3160px;
  width: 100%;
  padding-top: 180px;
  min-width: 400px;
  min-height: 500px;
}

@media (max-width: 800px) {
  #standard-format {
    height: 2580px;
  }
}

#standard-format h1 {
  text-align: center;
  /*border-style: solid;*/
  width: 400px;
  margin: 10px auto;
  font-family: Corbel;
  font-weight: 400;
  color: #0000FF;
  line-height: 25px;
  letter-spacing: 10px;
}

@media (max-width: 800px) {
  #standard-format h1 {
    font-size: 30px;
  }
}

#standard-format h2 {
  font-family: Angella Narrow;
  color: white;
  text-align: center;
  font-size: 45px;
  letter-spacing: 10px;
  margin: 100px auto 10px auto;
  text-shadow: 0px 0px 0 #f70000, 1px 1px 0 #ee0000, 2px 2px 0 #e60000, 3px 3px 0 #de0000, 4px 4px 0 #d50000, 5px 5px 0 #cd0000, 6px 6px 0 #c50000, 7px 7px 6px rgba(255, 0, 0, 0.6), 7px 7px 1px rgba(255, 0, 0, 0.5), 0px 0px 6px rgba(255, 0, 0, 0.2);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
}

#standard-format #lemon {
  text-shadow: 0px 0px 0 #c9d800, 1px 1px 0 #c0cf00, 2px 2px 0 #b8c700, 3px 3px 0 #b0bf00, 4px 4px 0 #a7b600, 5px 5px 0 #9fae00, 6px 6px 0 #97a600, 7px 7px 6px rgba(209, 224, 0, 0.6), 7px 7px 1px rgba(209, 224, 0, 0.5), 0px 0px 6px rgba(209, 224, 0, 0.2);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d1e000;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 60%;
  margin: 100px auto 100px auto;
  grid-gap: 0px;
  /*border-style: solid;*/
}

@media (max-width: 1200px) {
  .grid-container {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .grid-container {
    width: 90%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    padding: 0px;
  }
}

.grid-container .grid {
  display: -ms-grid;
  display: grid;
  /* grid-gap: 10px;
        /*grid-template-rows: repeat(2, 1fr);*/
  /*border-style: solid; */
  width: 220px;
  margin: 0 auto;
  padding: 5px;
}

@media (max-width: 800px) {
  .grid-container .grid {
    width: 147px;
  }
}

@media (max-width: 450px) {
  .grid-container .grid {
    margin: 0px;
  }
}

.grid-container .grid .grid-item {
  /*border-style: solid;*/
  /*margin: 0 auto;*/
  width: 217px;
  margin: 0px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .grid-container .grid .grid-item {
    width: 197px;
  }
}

@media (max-width: 800px) {
  .grid-container .grid .grid-item {
    width: 157px;
  }
}

.grid-container .grid .grid-item .price, .grid-container .grid .grid-item .price-two {
  display: inline-block;
  /*width: 107px;
                height: 107px;*/
  line-height: 27px;
  text-align: center;
  background: red;
  border-radius: 100%;
  height: 62px;
  width: 62px;
  float: left;
  padding-left: 12px;
  padding-right: 5px;
  padding-top: 8px;
  font-size: 35px;
  font-family: Century Gothic;
  font-weight: bold;
  color: white;
}

@media (max-width: 1200px) {
  .grid-container .grid .grid-item .price, .grid-container .grid .grid-item .price-two {
    width: 57px;
    height: 57px;
    font-size: 27px;
  }
}

@media (max-width: 800px) {
  .grid-container .grid .grid-item .price, .grid-container .grid .grid-item .price-two {
    width: 52px;
    height: 52px;
    font-size: 25px;
  }
}

.grid-container .grid .grid-item .price .three-digits, .grid-container .grid .grid-item .price-two .three-digits {
  font-size: 28px;
  -webkit-transform: scale(0.9, 1.2);
          transform: scale(0.9, 1.2);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  /* border-style: solid; */
  width: 40px;
}

@media (max-width: 1200px) {
  .grid-container .grid .grid-item .price .three-digits, .grid-container .grid .grid-item .price-two .three-digits {
    font-size: 23px;
    -webkit-transform: scale(1, 1.1);
            transform: scale(1, 1.1);
  }
}

@media (max-width: 800px) {
  .grid-container .grid .grid-item .price .three-digits, .grid-container .grid .grid-item .price-two .three-digits {
    width: 30px;
    font-size: 19px;
    padding-top: 0px;
    -webkit-transform: scale(1.1, 1.3);
            transform: scale(1.1, 1.3);
  }
}

.grid-container .grid .grid-item .price span, .grid-container .grid .grid-item .price-two span {
  font-size: 12px;
  line-height: 15px;
  /*border-style: solid;*/
  float: left;
  font-weight: bold;
  font-family: Century Gothic;
  color: white;
}

@media (max-width: 1200px) {
  .grid-container .grid .grid-item .price span, .grid-container .grid .grid-item .price-two span {
    font-size: 9px;
    line-height: 9px;
  }
}

.grid-container .grid .grid-item .price-two {
  float: right;
}

.grid-container .grid .grid-item .menu {
  /*background-image: url('/Images/Lemonade/Classic Lemonade.jpg');*/
  background-size: 210px;
  background-position: top;
  height: 210px;
  width: 210px;
  border-radius: 100%;
  border-style: solid;
  border-color: yellow;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.grid-container .grid .grid-item .menu:hover {
  background-size: 230px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (max-width: 1200px) {
  .grid-container .grid .grid-item .menu {
    background-size: 190px;
    height: 190px;
    width: 190px;
  }
  .grid-container .grid .grid-item .menu:hover {
    background-size: 205px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
}

@media (max-width: 800px) {
  .grid-container .grid .grid-item .menu {
    background-size: 150px;
    height: 150px;
    width: 150px;
  }
  .grid-container .grid .grid-item .menu:hover {
    background-size: 160px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
}

.grid-container .grid .grid-item .name {
  margin-top: 20px;
  font-family: Corbel;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  /*border-style: solid;*/
}
/*# sourceMappingURL=menu.css.map */